<h1>Main Biody</h1>
<mat-divider></mat-divider>
<mat-form-field class="example-full-width" appearance="fill">
    <mat-label>First name</mat-label>
    <input matInput>
</mat-form-field>
<mat-divider></mat-divider>
<mat-form-field class="example-full-width" appearance="fill">
    <mat-label>First name</mat-label>
    <input matInput>
</mat-form-field>
<mat-divider></mat-divider>
<mat-form-field class="example-full-width" appearance="fill">
    <mat-label>First name</mat-label>
    <input matInput>
</mat-form-field>