<mat-card class="mat-elevation-z9">
    <mat-card-header>
        <mat-card-title id="title-card">
            <h1>{{profile[0].fname}} {{profile[0].lname}} </h1>
        </mat-card-title>
    </mat-card-header>
</mat-card>
<mat-card class="mat-elevation-z9">
    <mat-card-header>
        <mat-card-title id="title-card">Profile Information</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <table>
            <tr>
                <th>First Name</th>
                <td>
                    <input mat-input disabled class="form-control" [value]="profile[0].fname"> 
                </td>
            </tr>
            <tr>
                <th>Last Name</th>
                <td>
                    <input mat-input disabled class="form-control"  [value]="profile[0].lname">
                </td>
            </tr>
            <tr>
                <th>Address</th>
                <td>
                    <textarea mat-input disabled class="form-control" placeholder="Address" [value]="profile[0].address"></textarea>
                </td>
            </tr>
            <tr>
                <th>Email</th>
                <td>
                    <input mat-input disabled class="form-control"  placeholder="email" [value]="profile[0].email">
                </td>
            </tr>
        </table>
    </mat-card-content>
    <mat-card-actions>
        <table>
            <tr>
                <td>                                                </td>
                <td>
                    <button mat-raised-button class="btn btn-primary" routerLink="/profileEdit/">Edit</button>  
                </td>
            </tr>
        </table>
    </mat-card-actions>
</mat-card>